<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting Started</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'"></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea fugiat laboriosam optio unde voluptates? Accusamus beatae, eius eum eveniet fugiat illum nulla perspiciatis placeat quaerat tenetur. Officia, perferendis quos? Aspernatur debitis dolor iste molestiae perferendis quis tempore! Alias at dolore explicabo fugiat inventore laudantium officiis, quidem repellat repudiandae sequi, tempore?
    </p>
    <img th:src="@{vistula.jpg}" alt="" width="600" height="600">
</body>
</html>